/* @import 'carousel.css'; */


body{
    background: rgb(184,236,188);
    background: linear-gradient(0deg, rgba(184,236,188,1) 0%, rgba(100,221,244,1) 100%);
}

.navbar-custom{
    background: rgb(100,221,244);
    background: linear-gradient(0deg, rgba(100,221,244,1) 0%, rgba(184,236,188,1) 100%);
}