<header>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">
      <img class="mx-auto d-block" src="/images/logo.svg" alt="Logo" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notes 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/notes">All Notes</a>
                <a class="dropdown-item" href="/notes/add">Add A Note</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Logout</a>
              </div>
            </li>
          {{else}}
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
            <li class="nav-item">
              <a class="nav-link" href="/users/signin">Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary my-2 my-sm-0" href="/users/signup">Register</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>