<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Wecker</title>
</head>
<body>
    {{> navbar-top}}

    {{> messages }}     {{!-- agrega los partials/messages --}}
    {{> errors }}
    <main class="container">
    {{{ body }}}
    </main>

    {{> navbar-bottom}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/libs/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="/libs/popper/popper.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>